footer.footer {
	padding: 120px 0px 120px;
	background-color: #000;

	.content
	{
		.age
		{
			height: 60px;
		}

		.inline-icons
		{
			display: flex;
			align-items: center;

			.list {
				z-index: 10;
				position: relative;
				display: inline-flex;
				vertical-align: middle;

				&.left
				{

				}

				&.right
				{
					margin-left: auto;
				}
		
				ul {
					list-style: none;
					display: flex;
					justify-content: space-between;
		
					.item {
						display: flex;
						margin: auto;
						margin-left: 0;
						cursor: default;

						&.social {
							outline: 1px solid #FFF;
							width: 60px;
							height: 60px;
							margin-left: 15px;
						
							a
							{
								display: flex;
							}

							&:hover
							{
								background-color: #FFF;

								img {
									filter: invert(0);
								}
							}

							img {
								filter: invert(1);
								margin: auto;
								width: 70%;
							}
						}

						.icon {
							margin-right: 20px;
						}
					}
				}
			}
		}

		.info {
			font-weight: 300;
			padding-top: 25px;
			max-height: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;
			text-align: justify;
			cursor: text;
		}

		.info:before {
			content:'';
			width: 100%;
			height: 93%;    
			position: absolute;
			left:0;
			top:0;
			background: linear-gradient(transparent 0px, #000);
		}

		.info-extend {
			a {
				color: $yellow;
				font-weight: 500;
			}
		}

		.navbar {
			z-index: 10;
			position: relative;
			display: inline-block;
			vertical-align: middle;

			ul {
				list-style: none;
				display: flex;
				justify-content: space-between;

				.item {
					display: flex;
					margin: auto;
					margin-right: 15px;
					margin-left: 0;
					font-size: 11pt;

					a {
						color: #FFF;
						text-decoration: none;

						&:hover
						{
							color: $yellow;
						}
					}
				}
			}
		}
	}
}