@keyframes fade-in{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-enter-active {
	animation: 0.3s fade-in;
}


.fade-leave-active {
	animation: 0.3s fade-in reverse;
}

@keyframes slide-to-left {
	0% {
		position: relative;
		right: -30px;
	}

	100% {
		position: relative;
		right: 0;
	}
}

@keyframes slide-to-right {
	0% {
		position: relative;
		right: 0;
	}

	100% {
		position: relative;
		right: 30px;
	}
}

@keyframes slider-from-left {
	0% {
		transform: translateX(-200%);
	}

	100% {
		
		transform: translateX(0%);
	}
}


@keyframes slider-from-right {
	0% {
		transform: translateX(200%);
	}

	100% {
		
		transform: translateX(0%);
	}
}



.slide-to-left-enter-active {
	animation: 0.3s slide-to-left;
}

.slide-to-left-leave-active {
	animation: 0.3s slide-to-left reverse;
}

.fade-to-left-enter-active {
	animation: 0.3s slide-to-left, 0.3s fade-in;
}

.fade-leave-active {
	animation: 0.3s slide-to-right, 0.3s fade-in reverse;
}

.fade-enter-active {
	animation: 0.3s fade-in;
}

.fade-leave-active {
	animation: 0.3s fade-in reverse;
}


$animation-function: ease-out;
$time: 0.4s;

.slider-from-left-enter-active {
	z-index: 99999;
	
	animation-name: slider-from-left;
	animation-duration: $time;
	animation-timing-function: $animation-function;
}

.slider-from-left-leave-active {
	animation-name: slider-from-right;
	position: absolute;
	animation-duration: $time;
	animation-direction: reverse;
	animation-timing-function: $animation-function;
}



.slider-from-right-enter-active {
	z-index: 99999;
	animation-name: slider-from-right;
	animation-duration: $time;	
	animation-timing-function: $animation-function;
}

.slider-from-right-leave-active {
	position: absolute;
	animation-duration: $time;
	animation-name: slider-from-left;
	animation-direction: reverse;
	animation-timing-function: $animation-function;
}





@keyframes slide-from-bottom-3d-enter {
	0% {
		transform: perspective(2000px) rotateX(-90deg) translateZ(60vh);
	}

	100% {
		transform: perspective(000px) rotateY(0) translateZ(0);
	}
}


@keyframes slide-from-bottom-3d-leave {
	0% {
		transform: perspective(2000px) rotateY(0) translateZ(0);
	}

	100% {
		transform: perspective(00px) rotateX(90deg) translateZ(60vh);
	}
}


@keyframes slide-from-top-3d-enter {
	0% {
		transform: perspective(00px) rotateX(90deg) translateZ(60vh);
	}

	100% {
		transform: perspective(2000px) rotateY(0) translateZ(0);
	}
}

@keyframes slide-from-top-3d-leave {
	0% {
		transform: perspective(000px) rotateY(0) translateZ(0);
	}

	100% {
		transform: perspective(2000px) rotateX(-90deg) translateZ(60vh);
	}
}


.slide-up-3d-enter-active {
	animation-name: slide-from-top-3d-enter;
	animation-duration: 0.6s;	
	animation-timing-function: ease-in-out;
}

.slide-up-3d-leave-active {
	position: absolute;
	animation-name: slide-from-top-3d-leave;
	animation-duration: 0.6s;	
	animation-timing-function: ease-out-in;
}

.slide-up-3d-reverse-enter-active {
	animation-name: slide-from-bottom-3d-enter;
	animation-duration: 0.6s;	
	animation-timing-function: ease-in-out;
}

.slide-up-3d-reverse-leave-active {
	position: absolute;
	animation-name: slide-from-bottom-3d-leave;
	animation-duration: 0.6s;	
	animation-timing-function: ease-out-in;
}
