body {
	font-family: "HelveticaNeueCyr", "Arial", sans-serif;
	background-color: #1c1012;
	color: white;
	overflow-y: scroll;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	width: 1140px;
	margin: auto;
}

.pointer {
	cursor: pointer;
}

.label-success {
	font-weight: 600;
	padding: 0px 4px;
	border-radius: 3px;
	display: inline-block;
	background-color: $green;
	color: lighten(black, 13%);
	margin-right: 2px;
}

label {
	color: $grey-text;
}

.status {
	color: $green;
	font-size: 14.5px;
	font-weight: 500;
}

.form-group {
	margin-bottom: 40px;
}

.form-group-inline {
	@extend .form-group;
	justify-content: space-between;
	display: flex;	
}

input[type="number"] {
	-webkit-appearance: textfield;
	   -moz-appearance: textfield;
			appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
  }

  .muted {
	  color: $brown;
  }