.vm-- {
	&modal {
		z-index: 999999;
		color: $grey-text;
		background-color: $grey !important;
		padding: 30px 30px 30px 30px;
		text-align: center;

		.title {
			color: $yellow;
			margin: 0;
			font-size: 40px;
			margin-bottom: 50px;
		}

		.body {
			margin: auto;
			max-width: 400px;
		}
	}

	&overlay {
		background-color: rgba(0,0,0,0.6);
	}
}