.btn {
	text-decoration: none;
	padding: 10px 27px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	white-space: nowrap;
	transition: 0.3s;
	background-color: rgba(1,1,1,0);
	outline: none;
	border: 0;
	cursor: pointer;

	&.btn-warning {
		background-color: $yellow;
		border: 1px solid $yellow;
		color: #000000;

		&:hover {
			box-shadow: 0 0 5px 0 $yellow;
		}
	}

	&.btn-warning-outline {
		border: 3px solid $yellow;
		background: rgba(1,1,1,0);
		color: $yellow;
		padding: 12px 15px;
		border-radius: 5px;
		font-size: 14px;
		
		&:hover {
			background-color: $yellow;
			box-shadow: 0 0 5px 0 $yellow;
			color: black;
		}
	}
}

.text-warning {
	color: $yellow;
}

.link-warning {
	position: relative;
	color: $yellow;
	text-decoration: none;

	&:after {
		content: '';
		height: 0px;
		width: 100%;
		border-bottom: 1.5px dashed $yellow;
		position: absolute;
		bottom: -0.5px;
		left: 0; 
	}
}