.principles {
	position: relative; 
	padding-bottom: 130px;

	.man {
		position: absolute;
		z-index: -5;
		right: 20%;
		width: 480px;
		top: -40px;
	}

	.title {
		font-size: $title-font-size;
		line-height: 1.3;

		.strong {
			background-color: $yellow;
			padding: 0 10px;
			display: inline-block;
		}
	}

	.list {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			
		}
		.item {
			margin-top: 200px;
			flex-basis: 23%;

			.icon {
				margin-bottom: 30px;
			}

			.title {
				font-size: 17px;
				margin-bottom: 30px;
			}

			p {
				color: $primary-text-color;
				font-size: 15px;
				line-height: 1.4;
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		z-index: -100;
		width: 1200px;
		height: 1200px;
		max-width: 100vw;
		max-height: 100vw; 
		left: 50%;
		top: 50%;
		transform: translate(-50%, -40%);

		z-index: -10;

		background-image: radial-gradient(#862428, rgba(1,1,1,0), rgba(1,1,1,0));
		background-size: cover;
	}
}