<template>
	<transition name="fade" mode="out-in">
		<div class="wrapper" v-if="mounted">
			<transition :name="transitionName">
				<component :is="componentName"></component>
			</transition>
		</div>
	</transition>
</template>

<script>
	import Login from './Login';
	import Register from './Register';

    export default {
		components: {
			Login,
			Register
		},
        mounted() {
			if(this.$store.getters.isLoggedIn) {
				this.$router.push({name: 'cabinet.rooms'})
			}
		},
		computed: {
			componentName() {
				return this.$route.name == 'login' ? 'login' : 'register'
			},
			transitionName() {
				return this.$route.name == 'login' ? 'slide-up-3d' : 'slide-up-3d-reverse'
			}
		}
    }
</script>

<style lang="scss" scoped> 

	.wrapper
	{
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('/img/cabinet/bg.png');
		background-size: cover;	
	}

	
	

</style>
