<template>

    <div class="card">
		<div class="content">
			<form @submit.prevent="login">
				<validation-observer ref="form">
					<h1 class="title">Авторизация</h1>
					<div class="form-group">
						<TextFormControl 
							name="Email" 
							type="email" 
							placeholder="Ваш email"
							rules="required|email"
							v-model="user.email"
							:errors="errors.email"
						/>
					</div>
					<div class="form-group">
						<TextFormControl 
							name="Пароль" 
							type="password" 
							placeholder="Ваш пароль"
							rules="required|min:8"
							v-model="user.password"
							:errors="errors.password"
						/>
					</div>
					<ButtonAccent :loading="loading">Войти</ButtonAccent>
					<div class="footer">
						<router-link :to="{name: 'register'}" class="btn btn-warning-outline">
							Регистрация
						</router-link>
					</div>
				</validation-observer>
			</form>
		</div>
    </div>
</template>

<script>
	import Error from '../../components/forms/messages/Error.vue'

    export default {
		components: {
			Error
		},
		data() {
			return {
				user: {
					email: 'lineman98@mail.ru',
					password: 'RasyanyaTV'
				},
				errors: {
					email: [],
					password: []
				}
			}
		},
        mounted() {
            console.log('Component mounted.')
		},
		methods: {
			login() {
				this.$refs.form.validate()
				.then(res => {
					if(res === true) {
						return this.$store.dispatch('login', this.user)
					}
				})
				.then(resp => {
					this.$router.push({name: 'cabinet'})
				})
				.catch(err => {
					if(err.response.status == 401) {
						this.$set(this, 'errors', err.response.data)
					} else {
						this.errors.password = ['Произошла ошибка, попробуйте позже']
					}
				})
			}
		},
		computed: {
			loading() {
				return this.$store.getters.authStatus == 'loading'
			}
		}
    }
</script>

<style lang="scss" scoped>
	@import '@vars';

	.title {
		margin: -10px 0 40px;
		text-align: center;
	}

	.card {
		width: 300px;
		max-width: 100%;
		padding: 50px 50px 30px;
		background-color: $grey;
	}

	.btn {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
	}

	.footer {
		text-align: center;
		padding-top: 20px;
	}

</style>