<template>
    <div class="card">
		<div class="content">
			<h1 class="title">Регистрация</h1>
			<form @submit.prevent="register">
				<validation-observer ref="form">
					<div class="form-group">
						<TextFormControl 
							name="Email" 
							type="email" 
							placeholder="Ваш email"
							rules="email|required"
							v-model="user.email"
							:errors="errors.email"
						/>
					
					</div>
					<div class="form-group">
						<TextFormControl 
							name="Ваше имя" 
							type="text" 
							placeholder="Ваше имя"
							rules="required|min:3"
							v-model="user.name"
							:errors="errors.name"
						/>
					</div>
					<div class="form-group">
						<TextFormControl 
							name="Пароль" 
							type="password" 
							placeholder="Ваш пароль"
							rules="required|min:8|confirmed:confirmation"
							v-model="user.password"
							:errors="errors.password"
						/>
					</div>
					<div class="form-group">
						<TextFormControl 
							name="Повтор пароля" 
							type="password" 
							placeholder="Повтор пароля"
							rules="required"
							vid="confirmation"
							v-model="user.password_confirmation"
							:errors="errors.password_confirmation"
						/>
					</div>
					<ButtonAccent :loading="loading">Зарегистрироваться</ButtonAccent>
					<div class="footer">
						<router-link :to="{name: 'login'}" class="btn btn-warning-outline">Вход</router-link>
					</div>
				</validation-observer>
			</form>
		</div>
		
    </div>
</template>

<script>
	import Error from '../../components/forms/messages/Error.vue'

    export default {
		components: {
			Error
		},
		data() {
			return {
				user: {
					email: 'lineman98@m11ail.ru',
					name: 'name',
					password: 'RasyanyaTV',
					password_confirmation: 'RasyanyaTV'
				},
				errors: {
					email: [],
					name: [],
					password: [],
					password_confirmation: []
				}
			}
		},
		mounted() {
            console.log('Component mounted.')
		},
		methods: {
			register() {
				//this.errors = {}
				this.$refs.form.validate()
				.then(res => {
					if(res === true) {
						return this.$store.dispatch('register', this.user)
					}
				})
				.then(resp => {
					this.$router.push({name: 'cabinet'})
				})
				.catch(err => {

						console.log(err.response.data)
					if(err.response.status == 401) {
						this.$set(this, 'errors', err.response.data)
					} else {
						this.errors.password_confirmation = ['Произошла ошибка, попробуйте позже']
					}
				}) 
			}
		},
		computed: {
			loading() {
				return this.$store.getters.authStatus == 'loading'
			}
		}
    }
</script>

<style lang="scss" scoped>
	@import '@vars';

	.title {
		margin: -10px 0 40px;
		text-align: center;
	}

	.card {
		width: 300px;
		max-width: 100%;
		padding: 50px 50px 30px;
		background-color: $grey;
	}

	.btn {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
	}

	.footer {
		text-align: center;
		padding-top: 20px;
	}

</style>