.calculate {
	background-image: url('/img/welcome/calculate-bg.png');
	background-size: cover;
	background-position: center center;

	position: relative;
	padding: 50px 0 80px;
	color: #313131;

	p:nth-child(2) {
		margin-bottom: 30px;
	}

	.title {
		font-size: $title-font-size;
	}

	.toggler {
		border-radius: 6px;
		padding: 15px 30px;
		background-color: white;
		height: 100px;
		width: 630px;
		box-sizing: border-box;
	}

	.prises {
		display: flex;

		&>div {
			padding-top: 25px;
			width: 315px;
			
			.value {
				margin-top: 25px;
				display: flex;
				flex-direction: row;
				align-items: center;
				font-size: 28px;
				font-weight: 500;

				.icon {
					margin-right: 10px;
					width: 21px;
				}
			}
		}
	}
	
	.btn-register {
		margin-top: 40px;
	}

	.cup-big {
		position: absolute;
		right: 10%;
		bottom: 0;
		height: 135%;

		@extend %no-select;
	}
}