.main {
	background-image: url('/img/welcome/main-particles.png');
	background-position: center top;
	background-size: cover;
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
	padding: 25px 0 40px;

	.arrow-bottom {
		text-align: center;

		&>* {	
			cursor: pointer;
		}
	}

	.content {
		padding-left: 100px;
		padding-bottom: 120px;

		.title h1{
			font-size: $title-font-size;
			margin: 45px 0 30px;
		}

		div:nth-child(3) {
			margin-top: 25px;
		}

		.list ul {
			margin-top: 45px;
			list-style: none;
			display: flex;
			padding: 0;

			li {
				display: flex;
				align-items: center;

				.check {
					margin-right: 15px;
				}
				margin-right: 50px;
			}
		}
	}
}