/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
/* This stylesheet generated by Transfonter (https://transfonter.org) on August 21, 2017 1:40 PM */
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot");
  src: local("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff") format("woff"), url("/fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
body {
  font-family: "HelveticaNeueCyr", "Arial", sans-serif;
  background-color: #1c1012;
  color: white;
  overflow-y: scroll;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1140px;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.label-success {
  font-weight: 600;
  padding: 0px 4px;
  border-radius: 3px;
  display: inline-block;
  background-color: #1b7300;
  color: #212121;
  margin-right: 2px;
}

label {
  color: #b6b6b6;
}

.status {
  color: #1b7300;
  font-size: 14.5px;
  font-weight: 500;
}

.form-group, .form-group-inline {
  margin-bottom: 40px;
}

.form-group-inline {
  justify-content: space-between;
  display: flex;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.muted {
  color: #66666f;
}

.btn {
  text-decoration: none;
  padding: 10px 27px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s;
  background-color: rgba(1, 1, 1, 0);
  outline: none;
  border: 0;
  cursor: pointer;
}
.btn.btn-warning {
  background-color: #f7e61c;
  border: 1px solid #f7e61c;
  color: #000000;
}
.btn.btn-warning:hover {
  box-shadow: 0 0 5px 0 #f7e61c;
}
.btn.btn-warning-outline {
  border: 3px solid #f7e61c;
  background: rgba(1, 1, 1, 0);
  color: #f7e61c;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 14px;
}
.btn.btn-warning-outline:hover {
  background-color: #f7e61c;
  box-shadow: 0 0 5px 0 #f7e61c;
  color: black;
}

.text-warning {
  color: #f7e61c;
}

.link-warning {
  position: relative;
  color: #f7e61c;
  text-decoration: none;
}
.link-warning:after {
  content: "";
  height: 0px;
  width: 100%;
  border-bottom: 1.5px dashed #f7e61c;
  position: absolute;
  bottom: -0.5px;
  left: 0;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-enter-active {
  -webkit-animation: 0.3s fade-in;
          animation: 0.3s fade-in;
}

.fade-leave-active {
  animation: 0.3s fade-in reverse;
}

@-webkit-keyframes slide-to-left {
  0% {
    position: relative;
    right: -30px;
  }
  100% {
    position: relative;
    right: 0;
  }
}

@keyframes slide-to-left {
  0% {
    position: relative;
    right: -30px;
  }
  100% {
    position: relative;
    right: 0;
  }
}
@-webkit-keyframes slide-to-right {
  0% {
    position: relative;
    right: 0;
  }
  100% {
    position: relative;
    right: 30px;
  }
}
@keyframes slide-to-right {
  0% {
    position: relative;
    right: 0;
  }
  100% {
    position: relative;
    right: 30px;
  }
}
@-webkit-keyframes slider-from-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slider-from-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slider-from-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slider-from-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slide-to-left-enter-active {
  -webkit-animation: 0.3s slide-to-left;
          animation: 0.3s slide-to-left;
}

.slide-to-left-leave-active {
  animation: 0.3s slide-to-left reverse;
}

.fade-to-left-enter-active {
  -webkit-animation: 0.3s slide-to-left, 0.3s fade-in;
          animation: 0.3s slide-to-left, 0.3s fade-in;
}

.fade-leave-active {
  animation: 0.3s slide-to-right, 0.3s fade-in reverse;
}

.fade-enter-active {
  -webkit-animation: 0.3s fade-in;
          animation: 0.3s fade-in;
}

.fade-leave-active {
  animation: 0.3s fade-in reverse;
}

.slider-from-left-enter-active {
  z-index: 99999;
  -webkit-animation-name: slider-from-left;
          animation-name: slider-from-left;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.slider-from-left-leave-active {
  -webkit-animation-name: slider-from-right;
          animation-name: slider-from-right;
  position: absolute;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  animation-direction: reverse;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.slider-from-right-enter-active {
  z-index: 99999;
  -webkit-animation-name: slider-from-right;
          animation-name: slider-from-right;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.slider-from-right-leave-active {
  position: absolute;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-name: slider-from-left;
          animation-name: slider-from-left;
  animation-direction: reverse;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes slide-from-bottom-3d-enter {
  0% {
    transform: perspective(2000px) rotateX(-90deg) translateZ(60vh);
  }
  100% {
    transform: perspective(0px) rotateY(0) translateZ(0);
  }
}

@keyframes slide-from-bottom-3d-enter {
  0% {
    transform: perspective(2000px) rotateX(-90deg) translateZ(60vh);
  }
  100% {
    transform: perspective(0px) rotateY(0) translateZ(0);
  }
}
@-webkit-keyframes slide-from-bottom-3d-leave {
  0% {
    transform: perspective(2000px) rotateY(0) translateZ(0);
  }
  100% {
    transform: perspective(0px) rotateX(90deg) translateZ(60vh);
  }
}
@keyframes slide-from-bottom-3d-leave {
  0% {
    transform: perspective(2000px) rotateY(0) translateZ(0);
  }
  100% {
    transform: perspective(0px) rotateX(90deg) translateZ(60vh);
  }
}
@-webkit-keyframes slide-from-top-3d-enter {
  0% {
    transform: perspective(0px) rotateX(90deg) translateZ(60vh);
  }
  100% {
    transform: perspective(2000px) rotateY(0) translateZ(0);
  }
}
@keyframes slide-from-top-3d-enter {
  0% {
    transform: perspective(0px) rotateX(90deg) translateZ(60vh);
  }
  100% {
    transform: perspective(2000px) rotateY(0) translateZ(0);
  }
}
@-webkit-keyframes slide-from-top-3d-leave {
  0% {
    transform: perspective(0px) rotateY(0) translateZ(0);
  }
  100% {
    transform: perspective(2000px) rotateX(-90deg) translateZ(60vh);
  }
}
@keyframes slide-from-top-3d-leave {
  0% {
    transform: perspective(0px) rotateY(0) translateZ(0);
  }
  100% {
    transform: perspective(2000px) rotateX(-90deg) translateZ(60vh);
  }
}
.slide-up-3d-enter-active {
  -webkit-animation-name: slide-from-top-3d-enter;
          animation-name: slide-from-top-3d-enter;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.slide-up-3d-leave-active {
  position: absolute;
  -webkit-animation-name: slide-from-top-3d-leave;
          animation-name: slide-from-top-3d-leave;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out-in;
          animation-timing-function: ease-out-in;
}

.slide-up-3d-reverse-enter-active {
  -webkit-animation-name: slide-from-bottom-3d-enter;
          animation-name: slide-from-bottom-3d-enter;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.slide-up-3d-reverse-leave-active {
  position: absolute;
  -webkit-animation-name: slide-from-bottom-3d-leave;
          animation-name: slide-from-bottom-3d-leave;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out-in;
          animation-timing-function: ease-out-in;
}

.vm--modal {
  z-index: 999999;
  color: #b6b6b6;
  background-color: #212121 !important;
  padding: 30px 30px 30px 30px;
  text-align: center;
}
.vm--modal .title {
  color: #f7e61c;
  margin: 0;
  font-size: 40px;
  margin-bottom: 50px;
}
.vm--modal .body {
  margin: auto;
  max-width: 400px;
}
.vm--overlay {
  background-color: rgba(0, 0, 0, 0.6);
}