.partners {
	background: linear-gradient(#1c1012, #150c0d);
	
	.slider {
		width: 100%;
	}
	img
	{
		width: 100%;
	}

	.slick-dots {
		text-align: center;

		li {
			display: inline-block;
			width: 16px;
			height: 16px;
			border-radius: 20px;
			background-color: grey;
			margin: 0 5px;
			cursor: pointer;

			&:hover {
				background-color: $yellow;
			}

			&.slick-active {
				background-color: $yellow;
				position: relative;
				cursor: default;

				&:after {
					content: '';
					display: inline-block;
					width: 50%;
					height: 50%;
					border-radius: 100%;
					background-color: black;

					position: absolute;
					left: 50;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}