<template>
    <div class="userinfo">
       <div class="section main">
		   <div>
			   <img src="/img/cabinet/avatar-empty.png" alt="avatar" title="Ваш аватар" class="avatar">
		   </div>
		   <div>
			   <h2 class="title">Username</h2>
			   <!--<div class="balance">
				   <span class="value">0 </span> руб.
			   </div>-->
			   <div class="status">
					<span class="label-success">0</span> Обычный
				</div>
				<div class="timeline"></div>
		   </div>
	   </div>
	   <div class="section field" v-if="user.name">
		   <div class="title">Имя</div>
		   <div class="value">{{ user.name }}</div>
	   </div>
	   
	   <div class="section field"  v-if="user.surname">
		   <div class="title">Фамилия</div>
		   <div class="value">{{ user.surname }}</div>
	   </div>
	   
	   <div class="section field" v-if="user.email">
		   <div class="title">E-mail</div>
		   <div class="value">{{ user.email }}</div>
	   </div>
	   
	   <div class="section field" v-if="user.phone">
		   <div class="title">Телефон</div>
		   <div class="value">{{ user.phone }}</div>
	   </div>
	   
	   <div class="section field" v-if="user.birthdate">
		   <div class="title">Дата рождения</div>
		   <div class="value">{{ user.birthdate }}</div>
	   </div>
    </div>
</template>

<script>
    export default {
        mounted() {

		},
		computed: {
			user() {
				return this.$store.getters.user
			}
		}
    }

</script>

<style lang="scss" scoped>
    @import "@vars";
	.userinfo {
		background-color: #28282c;
	}

	.section {
		border-bottom: 1px solid $grey-light;
		padding: 30px 50px;

		&:last-child {
			border-bottom: none;
		}
	}

	.section.main {
		display: flex;
		&>div {
			padding: 0 20px 0 0;
		}

		.avatar {
			width: 130px;
		}

		.title {
			font-weight: 500;
			margin-bottom: 10px;
		}

		.balance {
			color: $grey-light; 
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 12px;

			.value {
				font-size: 22px;
				color: white;
				font-weight: 600;
			} 
		}

		.status {
			color: $green;
			font-weight: 500;
		}
	}

	.field {
		font-size: 15px;
		
		.title {
			color: #b6b6b6;
			margin-bottom: 8px;
		}
	}
	


</style>
