<template>
    <div class="list">
        <ul>
			<router-link 
				:to='{name: "cabinet.user.userinfo"}' 
				tag="li" 
				class="item"
				active-class="active"
			>
                <i class="fa fa-user-o icon"></i>Мой профиль
			</router-link>
			<router-link 
				:to='{name: 
				"cabinet.user.edit"}' 
				tag="li" 
				class="item"
				active-class="active"
			>
                <i class="fa fa-cog icon"></i>Редактировать
			</router-link>
			<router-link 
				:to='{name: "cabinet.user.history"}' 
				tag="li" 
				class="item"
				active-class="active"
			>
                <i class="fa fa-trophy icon"></i>История комнат
			</router-link>
			<router-link 
				:to='{name: "cabinet.user.finances"}' 
				tag="li" 
				class="item"
				active-class="active"
			>
                <i class="fa fa-credit-card icon"></i>Касса
			</router-link>
        </ul>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }

</script>

<style lang="scss" scoped>
    @import "@vars";

    .list {
        .item {
			background-color: $grey;
			font-size: 16px;
			padding: 30px;
			position: relative;
			transition: 0.3s;

			.icon {
				font-size: 20px;
				margin-right: 15px;
			}

			&:hover {
				cursor: pointer;
				background-color: lighten($grey, 1.5%);
			}

			&.active {
				background-color: lighten($grey, 2%);
				
				&:after {
					content: '\f054';
					font: normal normal normal 20px/1 FontAwesome;
					position: absolute;
					top: 50%;
					right: 30px;
					transform: translate(0,-50%);
					animation: 0.3s show-arrow;
				}
			}			
        }
	}
	@keyframes show-arrow {
		0% {
			opacity: 0;
			right: 10px;
		}

		100% {
			opacity: 1;
			right: 30px;
		}
	}

</style>
