<template>
    <div class="container">
		<div class="content">
			<div class="sidebar-container">
				<TheSidebar class="sidebar"/>
			</div>
			<transition name="fade-to-left" mode="out-in">
				<router-view class="view"></router-view>
			</transition>
		</div>
    </div>
</template>

<script>
	import TheSidebar from "./TheSidebar.vue";

    export default {
		components: {
			TheSidebar
		},

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss" scoped>
	.content {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 30px;
	}
	$sidebar-width: 280px;

	.sidebar-container {
		width: $sidebar-width;
	}

	.sidebar {
		width: $sidebar-width;
		position: fixed;	
	}

	.view {
		width: calc(100% - #{$sidebar-width} - 30px);
	}
</style>