<template>
	<div>
		<transition name="" mode="out-in">
			<div class="loading" v-show="isLocked">
				<Spinner :size="75"></Spinner>
			</div>
		</transition>
		<transition name="fade" mode="out-in">
			<div class="wrapper" v-if="ready">
				<TheHeader/>

				<transition name="fade" mode="out-in">
					<router-view></router-view>
				</transition>
			</div>
		</transition>
		
	</div>
</template>

<script>
	import TheHeader from "./TheHeader.vue";

    export default {
		components: {
			TheHeader
		},
		data() {
			return {
				ready: false
			}
		},

        mounted() {
			this.$store.commit('lock')
			
			Promise.all([
				this.fetchUser()
			])
			.then(() => {
				this.$nextTick(() => {
					if(this.$route.name == 'cabinet') {
						this.$router.push({
							name: 'cabinet.rooms'
						})
					}

					this.ready = true 
					this.$store.commit('unlock')
				})
			})
		},
		methods: {
			async fetchUser() {
				if(!this.$store.getters.userLoaded) {
					return this.$store.dispatch('fetchUser')
				} else {
					return Promise.resolve()
				}		
			}
		},
		computed: {
			isLocked() {
				console.log('ISLOCKED', this.$store.getters.isLocked)
				return this.$store.getters.isLocked
			}
		}
    }
</script>

<style lang="scss" scoped>
	.wrapper {
		min-height: 100vh;
		width: 100%;
		background-image: url('/img/cabinet/bg.png');
		background-size: cover;
	}

	.loading {
		position: fixed;
		width:100%;
		height:100%;
		z-index:11111;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(1,1,1,0.15);
	}
</style>