<template>
    <div class="header-container">
		<div class="header">
			<router-link :to="{name:'cabinet.rooms'}" tag="div" class="left">
				<div class="logo">
					<img src="/img/welcome/logo.png">
				</div>
				<div class="divider"></div>
				<div class="slogan">
					Торгуй не против<br> 
					брокера, а против<br>трейдера
				</div>
			</router-link>
			<div class="right">
				<transition name="slide-to-left" :duration="300" mode="out-in">
				<button 
					class="btn btn-warning pointer" 
					v-if="balanceType == 'demo'" 
					@click.prevent="setBalanceType('real')"
					key="def"
				>
					Перейти на реальный счет
				</button>
				<button 
					class="btn btn-warning-outline pointer" 
					v-if="balanceType == 'real'"
					@click.prevent="setBalanceType('demo')"
					key="efef"
					>
					Перейти на демо счет
				</button>
				</transition>

				<div class="userinfo" >
					<dropdown>
						<template #parent>
							<div class="open-popup name" id="openUserinfoPopup">{{ username }}</div>
							<div class="status">
								<span class="label-success">0</span> Обычный
							</div>
						</template>
						<template #body>
							<router-link :to='{name: "cabinet.user.userinfo"}' class="btn">Профиль</router-link>
							<router-link :to='{name: "cabinet.user.history"}' class="btn">История торговли</router-link>
							<a href="#" @click.prevent="logout" class="btn">Выход</a>
						</template>
					</dropdown>
				</div>
				<div class="balance">
					<dropdown>
						<template #parent>
							<div class="name">{{ balanceType == 'real' ? 'Реальный' : 'Демо' }} счет</div>
							<div class="amount">49 800 РУБ.</div>
						</template>
						<template #body>
							<button
								class="btn" 
								:class='{active: balanceType == "demo"}'
								@click.prevent="setBalanceType('demo')"
							>
								Демо-счет
							</button>
							<button 
								href="#" 
								class="btn" 
								:class='{active: balanceType == "real"}'
								@click.prevent="setBalanceType('real')"
							>
								Реальный-счет
							</button>
						</template>
					</dropdown>
				</div>
				<div class="btn-group">
					<router-link :to='{name: "cabinet.user.finances"}' class="btn btn-warning">Пополнить</router-link>
					<router-link :to='{name: "cabinet.rooms"}' class="btn btn-warning">Торговать</router-link>
				</div>
			</div>
			<!--<router-link :to="{name: 'login'}">Lol kek</router-link>-->
		</div>
    </div>
</template>

<script>
	import dropdown from "../../components/Dropdown.vue"

    export default {
		components: {
			dropdown
		},
		data: function(){
			return {
				
			}
		},
        mounted() {
			
		},
		methods: {
			setBalanceType(type) {
				this.$store.dispatch('setBalanceType', type)
			},
			logout() {
				this.$store.dispatch('logout')
				.then(() => {
					this.$router.push({name: 'login'})
				})
			}
		},
		computed: {
			balanceType: function() {
				return this.$store.getters.balanceType
			},
			username: function() {
				console.log('USER', this.$store.getters.user)
				return this.$store.getters.user.name
			}
		}
    }
</script>

<style lang="scss" scoped>
	@import "@vars";

	$height: 80px;

	.header-container {
		height: $height;
	}

	.header {
		height: $height;
		width: 100%;
		background-color: $grey;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		z-index: 999;

		&>div {
			padding: 0 15px;
			display: flex;
			align-items: center;
		}
	}

	.left {
		@extend %no-select;
		pointer-events: all;
		cursor: pointer;

		.logo {
			height: $height - 10px;
			img {
				height: 100%;
			}
		}

		.divider {
			display: inline-block;
			width: 1px;
			height: $height - 20px;
			background-color: white;
			margin: auto 13px;
		}

		.slogan {
			padding-left: 8px;
		}
	}

	.right {
		.btn-group {
			margin-left: 30px;
			.btn {
				margin: 0 0 0 8px;
			}
		}

		.balance {
			margin-left: 30px;
			cursor: pointer;

			.name {
				color: #909090;
				font-size: 12px;
				font-weight: 500;
			}

			.amount {
				margin-top: 5px;
				color: white;
				font-size: 21px;
				font-weight: 600;
			}
		}

		.userinfo {
			margin-left: 50px;
			cursor: pointer;

			.name {
				color: white;
				font-size: 17px;
				padding-bottom: 5px;
			}
		}
	}

	.balance .active {
		color: $grey;
		background-color: $yellow;
	}
</style>
