<template>
    <div class="finances">
		<div class="content">
			<p>Сумма пополнения</p>
			<div class="cards">
				<DepositCard class="deposit-card">
					500 руб
				</DepositCard>
				<DepositCard class="deposit-card">
					1000 руб
				</DepositCard>
				<DepositCard class="deposit-card">
					1500 руб
				</DepositCard>
				<DepositCard class="deposit-card">
					500 руб
				</DepositCard>
				<DepositCard class="deposit-card">
					1000 руб
				</DepositCard>
				<DepositCard class="deposit-card">
					1500 руб
				</DepositCard>
				
			</div>
			<div class="form-group-inline form">
				<label for="amount">
					Хотите выбрать сумму сами?<br>Введите знаечение в поле
				</label>
				<TextFormControl value="500" />
				<button class="btn btn-warning">Внести депозит</button>
			</div>
	   </div>
    </div>
</template>

<script>
	import DepositCard from './DepositCard.vue';

    export default {
		components: {
			DepositCard
		},
        mounted() {
			console.log('Component mounted.')
			console.log('Финансы')
        }
    }

</script>

<style lang="scss" scoped>
    @import "@vars";
	
	.content {
		padding-top: 10px;
	}

	.cards {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 30px;
		
		.deposit-card {

			width: 30%;
			margin-right: 5%;
			margin-bottom: 30px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	.form {	
		align-items: center;

		label {
			font-weight: 600;
			color: white;
		}

		.btn {
			padding-top: 18px;
			padding-bottom: 18px;
		}
	}
</style>
