<template>
    <div class="deposit-card" :style='{width: $props.width, height: $props.height}'>
		<slot></slot>
    </div>
</template>

<script>
    export default {
		props: {
			width: {
				required: false
			},
			height: {
				required: false
			}
		},
        mounted() {
			console.log('Component mounted.')
			console.log('Финансы')
        }
    }

</script>

<style lang="scss" scoped>
    @import "@vars";
	.deposit-card {
		background-color: $grey-lighter;
		border: 1px solid $grey-light;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 90px;
		cursor: pointer;
		transition: 0.3s all;
		box-sizing: border-box;

		&:hover {
			background-color: $brown-dark;
			border-color: $yellow;
			font-size: 18px;
		}
	}
	
</style>
