<template>
	<modal  
		name="create-room" 
		class="modal" 
		width="800px" 
		:adaptive="true"
		height="auto"
	>
		
		<template #default>
		<div class="header">
			<h1 class="title">Параметры комнаты</h1>
			<a 
				href="#" 
				class="close-button"
				@click.prevent="hide"
			>✕</a>
		</div>
		<div class="body">
			<div class="form-group">
				<TextFormControl 
					name="Ставка"
					value="3000" 
				/>
			</div>
			<div class="form-group-inline">
				<label for="players_count_from">Количество<br>игроков: </label>
				<div class="form-range">
					<TextFormControl 
						id="players_count_from" 
						class="form-control" 
						name="От"
						type="number"
						:min="2"
						:max="10"
						value="2"
					/>
					<span class="divider">-</span>
					<TextFormControl 
						id="players_count_to" 
						class="form-control" 
						name="До"
						type="number"
						:min="2"
						:max="10"
						value="4" 
					/>
				</div>
			</div>
			<div class="form-group">
					<TextFormControl 
						id="players_count_from"
						class="form-control"  
						name="Валюта"
						value="$ - USD"
					/>
			</div>
			<div class="form-group-inline">
				<label for="intervals_from">Временные интервалы: </label>
				<div class="form-range">
					<TextFormControl 
						id="intervals_from" 
						class="form-control" 
						name="От"
						type="number"
						:min="2"
						:max="10" 
					/>
					<span class="divider">-</span>
					<TextFormControl 
						class="form-control" 
						id="intervals_to" 
						name="До"
						type="number"
						:min="2"
						:max="10" 
					/>
				</div>
			</div>
			<div>
				<button class="btn btn-warning create-button">Создать комнату</button>
				<p class="muted">Для того, чтобы создать комнату, Вам<br>необходимо заполнить все поля.</p>
			</div>
		</div>
		</template>
	</modal>
</template>
<script>
	export default {
		methods: {
			show() {
				this.$modal.show('create-room')
			},
			hide() {
				this.$modal.hide('create-room')
			}
		}
	}
</script>
<style lang="scss" scoped>
	@import "@vars";

	.form-range {
		display: flex;
		align-items: center;

		.form-control {
			width: 90px !important;
		}
		.divider {
			margin: 0 15px;
		}
	}
	.create-button {
		margin-bottom: 10px;
		width: 100%;
		padding: 15px;
		font-weight: 700;
		font-size: 18px;
	}
	label {
		text-align: left;
	}

	p {
		margin: 10px 0 0 0;
	}
	.header {
		position: relative;

		.close-button {
			color: $yellow;
			position: absolute;
			font-size: 36px;
			right: 0;
			top: 0;
			font-weight: 300;
			text-decoration: none;
		}
	}
</style>