<template>
	<modal  
		name="room-info" 
		class="modal" 
		width="320px" 
		:adaptive="true"
		height="auto"
	>
		<div class="room-info" :class="color">
			<h2 class="title" :class="color">Комната №2022</h2>
			<div class="section">
				<h4 class="subtitle">Стоимость 2000 РУБ</h4>
				<p>Эта сумма будет списана после того, как вы присоеденитесь к турниру</p>
				<div class="form-group">
					<div class="field">
						<i class="fa fa-power-off" :class="color"></i>
						<span class="key">Статус</span>
						<span class="value">Турнир</span>
					</div>
					<div class="field">
						<i class="fa fa-user" :class="color"></i>
						<span class="key">Игроков</span>
						<span class="value">19 из 20</span>
					</div>
				</div>
			</div>
			<div class="section">
				<h4 class="subtitle">Призовой фонд</h4>
				<p>Столько получат участники турнира, в зависимости от места которое они займут</p>
				<div class="form-group">
					<div class="field">
						<i class="fa fa-power-off" :class="color"></i>
						<span class="key">Статус</span>
						<span class="value">Турнир</span>
					</div>
					<div class="field">
						<i class="fa fa-user" :class="color"></i>
						<span class="key">Игроков</span>
						<span class="value">19 из 20</span>
					</div>
				</div>
			</div>
			<button class="btn btn-warning">Участвовать</button>
		</div>
	</modal>
</template>

<script>
    export default {
		props: {
			room: {
				//type: Object,
				required: true
			}
		},

        mounted() {
            //console.log('Component mounted.', this.$props.data)
		},
		methods: {
			show() {
				this.$modal.show('room-info')
			},
			hide() {
				this.$modal.hide('room-info')
			}
		},
		computed:  {
			printableStatus() {
				let _ = {
					open:    'открыта',
					reload:  'перезагрузка',
					play:    'идет игра',
					closed:  'закрыта',
					
					defalut: 'неизвестно'
				};

				return _[this.$props.data.status] ? _[this.$props.data.status] : _.default
			},
			oneIconSrc() {
				return `/img/cabinet/1-${this.$props.color}.png`
			},
			rewardSrc() {
				return `/img/cabinet/medal-${this.$props.color}.png`
			},
			color() {
				return 'red';
			}
		}
    }
</script>

<style lang="scss" scoped>
	@import "@vars";

	.vm--modal  {
		padding: 15px 20px 40px !important;
	}

	.room-info {
		background-color: $grey;
		display: inline-block;
		border-radius: 3px;
		//min-width: 215px;
		text-align: left; 
	}

	img {
		@extend %no-select;
	}

	.title {
		margin: 0;
		margin-bottom: 20px;
		font-size: 24px; 
	}

	.subtitle {
		margin: 0;
		margin-bottom: 1px;
		font-size: 17px;
		font-weight: 700;
	}

	.field {
		margin-bottom: 6px;
		.key {
			color: lighten($grey-light, 10%);
		}

		.value {
			color: white;
		}
	}

	p {
		margin: 0 0 22px;
		color: white;
		font-size: 14px;
	}

	.green {
		color: $green-light;
	}

	.red {
		color: $red;
	}

	.yellow {
		color: $yellow;
	}

	.btn {
		width: 100%;
		padding: 15px 0;
	}
	

</style>