<template>
    <div class="room" :class="color" @click="$emit('click')">
		<div class="header">
			<img :src="rewardSrc" alt="" class="reward">
			<span class="amount">{{ data.rate }} руб</span>
			<i class="fa fa-chevron-right arrow"></i>
		</div>
		<div class="body">
			<p>
				<i class="fa fa-power-off"></i>
				<span class="key">Статус: </span>
				<span class="value">{{ printableStatus }}</span>
			</p>
			<p>
				<i class="fa fa-user"></i>
				<span class="key">Участников: </span>
				<span class="value">{{ data.members_count }} из 2</span>
			</p>
		</div>
		<div class="footer">
			<i class="fa fa-trophy"></i>
			<img :src="oneIconSrc" alt="" class="icon">
			<span class="rate">8 000 РУБ</span>
		
		</div>
    </div>
</template>

<script>
    export default {
		props: {
			data: {
				type: Object,
				required: true
			},
			color: {
				type: String,
				default: 'green'
			}
		},

        mounted() {
            //console.log('Component mounted.', this.$props.data)
		},
		computed:  {
			printableStatus() {
				let _ = {
					open:    'открыта',
					reload:  'перезагрузка',
					play:    'идет игра',
					closed:  'закрыта',
					
					defalut: 'неизвестно'
				};

				return _[this.$props.data.status] ? _[this.$props.data.status] : _.default
			},
			oneIconSrc() {
				return `/img/cabinet/1-${this.$props.color}.png`
			},
			rewardSrc() {
				return `/img/cabinet/medal-${this.$props.color}.png`
			}
		}
    }
</script>

<style lang="scss" scoped>
	@import "@vars";

	.room {
		background-color: $grey;
		display: inline-block;
		border-radius: 3px;
		//min-width: 215px;
		text-align: left;
		cursor: pointer;
	}

	img {
		@extend %no-select;
	}

	.header {
		font-size: 18px;
		font-weight: 500;
		display: flex;
		align-items: center;
		padding: 15px 15px 15px 8px;
		position: relative;

		.arrow {
			font-weight: 300;
			position: absolute;
			right: 15px;
		}
	}

	.green {
		color: $green-light;
	}

	.red {
		color: $red;
	}

	.yellow {
		color: $yellow;
	}

	.body {
		padding: 0 15px 15px 20px;

		.key {
			color: $grey-light;
			font-size: 15px;
			margin-left: 3px;
		}
		.value {
			color: white;
			font-weight: 500;
		}
	}

	.footer {
		padding: 15px 15px 15px 20px;
		display: flex;
		align-items: center;

		.icon {
			display: inline-block;
			position: relative;
			top: 4px;
		}

		.rate {
			color: white;
			text-transform: uppercase;
			font-weight: 600;
		}

	}
</style>