%no-select {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

body {
	font-family: "HelveticaNeueCyr", "Arial", sans-serif;
	background-color: #1c1012;
	color: white;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	
	.header-left, .header-right {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header-left {
		.logo {
			height: 70px;
			margin-right: 20px;
		}
		span {
			font-size: 14px;
			color: rgba(255,255,255,0.8);
		}
	}

	.header-right .btn {
		margin-right: 5px;
		margin-left: 5px;
	}
}

.container {
	width: 1140px;
	margin: auto;
}

main {
	.main-bg {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: -1000;
		width: 100%;
		transform: translateX(-50%);// scale(1.08, 1.20);
		@extend %no-select;
	}
}