.btn {
	text-decoration: none;
	padding: 14px 26px;
	border-radius: 3px;
	font-size: 16px;
	display: inline-block;
	white-space: nowrap;
	transition: 0.3s;

	&.btn-warning {
		background-color: $yellow;
		border: 1px solid $yellow;
		color: #000000;

		&:hover {
			box-shadow: 0 0 5px 0 $yellow;
		}
	}

	&.btn-warning-outline {
		border: 1px solid $yellow;
		color: #ffffff;
		
		&:hover {
			background-color: $yellow;
			box-shadow: 0 0 5px 0 $yellow;
			color: black;
		}
	}
}

.text-warning {
	color: #f2ba0b;
}