<template>
    <div class="messages">
        <transition name="fade">
            <div role="alert" v-if="errors.length || error.length">
                <span v-for="error, id in messages" :key="id">{{ error }}<br></span>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props: {
			error: {
				default: '',
				type: String,
				required: false
			},
            errors: {
				default: [],
				type: Array,
				required: false
			}
		},
		computed: {
			messages() {
				return this.errors.length ? this.errors : [ this.error ]
			}
		}
    }
</script>
<style lang="scss" scoped>
	@import '@vars';

	.messages {
		color: $red;
		margin: 5px;
	}
</style>