.list {
	margin-top: 100px;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	
		.item {
			text-align: center;
			flex-basis: 22%;

			.icon {
				margin-bottom: 40px; 

				img {
					width: 60px;
				}
			}

			.title {
				font-size: 16px;
			}

			p {
				margin-top: 18px;
				font-size: 14px;
				color: $primary-text-color;
				line-height: 1.4;
			}

			%will-soon {
				content: "Скоро";
				text-transform: uppercase;
				display: inline-block;
				background-color: $yellow;
				border-radius: 5px;
				padding: 4px 4px 3px;
				color: black;
				position: absolute;
				font-size: 10px;
				font-weight: 600;
				right: 23.5%;
				top: 7px;
			}

			&:nth-child(3) .icon{
				position: relative;
				
				&:after {
					@extend %will-soon;
				}
			}

			&:nth-child(4) .icon{
				position: relative;
				
				&:after {
					@extend %will-soon;
					right: 27%;
					top: 13px;
				}
			}

		}

		
	}
}