.versus {
	position: relative;
	padding-bottom: 50px;

	.content {
		text-align: center;

		.title {
			font-size: $title-font-size; 
		}

		.description {
			font-size: 16px;
			max-width: 600px;
			margin: 0 auto 30px;
			color: $primary-text-color;
			line-height: 1.4;
		}

		.btn-register {
			transition: 0.3s;
			padding: 20px 40px;

			&:hover {
				color: lighten($yellow, 20%);
			}
		}

		.versus-labels {
			margin-top: 290px;
			display: flex;
			justify-content: center;
			position: relative;
			left: 20px;


			.left, .right {
				max-width: 300px;
			}

			.left {
				text-align: right;
				font-size: 34px;
				font-weight: 600;
				padding-right: 100px;
			}

			.right {
				padding-left: 100px;
				font-size: 14px;
				text-align: left; 
				line-height: 1.4;

				.strong {
					margin-top: 10px;
					color: $yellow;
					font-size: 20px;
					font-weight: 600;
					line-height: 1.25;
				}
			}
		}

		.versus-bottom {
			margin-top: 70px;

			p{
				margin-bottom: 27px;
			}
		}

		.versus-bg {
			position: absolute;
			left: 49%;
			top: -80px;
			transform:  translate(-50%) scale(0.9);
			z-index: -10;
			@extend %no-select;
		}
	}

	@import "./list.scss";
}