<template>
    <div class="withdrawal">
		<div class="content">
			<div class="form">
				<div class="form-group">
					<TextFormControl
						name="Сумма выплаты" 
						value="1000"
					/>
				</div>
				<div class="form-group">
					<TextFormControl
						name="Способ вывода средств" 
						value="VISA/MASTERCARD"
					/>
				</div>
				<div class="form-group">
					<TextFormControl
						name="Платежная информация" 
						value=""
						placeholder="Номер/срок действия карта, номер кошелька, номер телефона"
					/>
				</div>
				<div class="form-group">
					<button class="btn btn-warning">Отправить</button>
				</div>
			</div>
			<div class="description">
				<p>
					На обработку заявки потребуется некоторое время. Обратите внимание, мы не замораживаем баланс до момента выплаты, чтобы Вы могли продолжить торговлю
				</p>
			</div>
		</div>
    </div>
</template>

<script>
    export default {
        mounted() {
			console.log('Component mounted.')
			console.log('Финансы')
        }
    }

</script>

<style lang="scss" scoped>
    @import "@vars";
	
	@keyframes slide-right-full{
		0% {
			position: absolute;
			right: 0;
		}
		100% {
			position: absolute;
			right: -100%;
		}
	}

	.slide-right-full-enter-active {
		animation: 0.6s slider-right-full;
	}

	.withdrawal .content {
		padding-top: 40px;
		width: 100%;
		display: flex;
		
		&>* {
			flex: 1;
			padding-right: 20px;

			&:last-child {
				padding-right: 0;
			}
		}
		
		.form {
			padding-top: 8px;

			.btn {
				width: 100%;
				padding: 15px;
			}

			.form-group {
				margin-bottom: 35px;
			}
		}

		.description {
			p {
				margin-top: 0;
			}
		}
	}
</style>
