$yellow: #f7e61c;
$green-light: #2ec500;
$green-lighter: #2a9e07;
$green: #1b7300;
$red: #de3400;
$grey: #212121;
$grey-lighter: #28282c;
$grey-light: #626262;
$grey-text: #b6b6b6;
$brown: #66666f;
$brown-dark: #45432a;


%no-select {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}