<template>
    <div class="edit">
        <div class="section">
			<div class="avatar-container" @click="loadAvatar">
				<img 
					src="/img/cabinet/avatar-empty.png" 
					class="avatar" 
					alt="avatar" 
					title="Загрузить аватар"
				>
				<a 
					href="#" 
					class="load"
					@click.prevent="" 
				>
					Загрузить
				</a>
			</div>
			<form action="" @submit.prevent="updateUser">
				<validation-observer ref="userForm">
					<div class="form-control">
						<TextFormControl 
							name="Имя" 
							placeholder="Ваше имя.." 
							:value="user.name" 
							v-model="user.name" 
							rules="required|min:3"
						></TextFormControl>
					</div>
					<div class="form-control">
						<TextFormControl 
							name="Фамилия" 
							placeholder="Ваша фамилия.." 
							:value="user.surname" 
							v-model="user.surname" 
						></TextFormControl>
					</div>
					<div class="form-control">
						<TextFormControl 
							name="Email" 
							placeholder="Ваш Email.." 
							:value="user.email" 
							v-model="user.email" 
							rules="required|email"
						></TextFormControl>
					</div>
					<div class="form-control">
						<TextFormControl 
							name="Телефон" 
							placeholder="Ваш телефон.." 
							:value="user.phone" 
							v-model="user.phone" 
						></TextFormControl>
					</div>
					<ButtonAccent :loading="updatingUser"> Сохранить </ButtonAccent>
				</validation-observer>
			</form>
		</div>

		<div class="section">
			<form action="" @submit.prevent="updatePassword">
				<validation-observer ref="passwordForm">
					<div class="form-control">
						<TextFormControl 
							name="Новый пароль" 
							placeholder="Ваш новый пароль.." 
							:value="password.new_password" 
							v-model="password.new_password"
							type="password"
							rules="required|min:8" 
						></TextFormControl>
					</div>
					<div class="form-control">
						<TextFormControl 
							name="Текущий пароль" 
							placeholder="Ваш текущий пароль.." 
							:value="password.current_password" 
							v-model="password.current_password"
							type="password"
							rules="required|min:8" 
						></TextFormControl>
						<Error :errors="passwordErrors"/>
					</div>
					<ButtonAccent :loading="updatingPassword"> Сохранить </ButtonAccent>
				</validation-observer>
			</form>
		</div>
	</div>
</template>

<script>
	import Error from '../../../../components/forms/messages/Error.vue';

    export default {
		components: {
			Error
		},
		data() {
			return {
				user: {},
				password: {
					current_password: '',
					new_password: ''
				},
				updatingUser: false,
				updatingPassword: false,

				userErrors: [],
				passwordErrors: []
			}
		},
        created() {
			this.$set(this, 'user', cloneObject(this.globalUser))
		},
		methods: {
			updateUser() {
				this.$refs.userForm.validate()
				.then(res => {
					if(res) {
						this.updatingUser = true
						return this.$store.dispatch('updateUser', this.user) 
					} else {
						return Promise.resolve()
					}
				}) 
				.catch(err => {
					this.userErrors = ['Произошла ошибка, попробуйте позже']
				})
				.finally(() => {
					this.updatingUser = false
				})
			},
			updatePassword() {
				this.$refs.passwordForm.validate()
				.then(res => {
					if(res) {
						this.updatingPassword = true
						return this.$store.dispatch('updatePassword', this.password) 
					} else {
						return Promise.resolve()
					}
				}) 
				.catch(err => {
					this.passwordErrors = ['Произошла ошибка, попробуйте позже']
				})
				.finally(() => {
					this.updatingPassword = false
				})
			},
			loadAvatar() {
				console.log('LOAD AVATAR')
			}
		},
		computed: {
			globalUser() {
				return this.$store.getters.user
			}
		}
    }

</script>

<style lang="scss" scoped>
    @import "@vars";
	.edit {
		background-color: $grey-lighter;
		box-sizing: border-box;		
	}

	.section {
		border-bottom: 1px solid $grey-light;
		padding: 60px 30px 40px 50px;
		
		&:first-child {
			padding-top: 40px;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.avatar-container {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.avatar {
			cursor: pointer;
			width: 135px;
			margin-right: 30px;
		}

		.load {
			color: $yellow;
			font-size: 26px;
			text-decoration:none;
			position: relative;

			&:after {
				content: '';
				height: 1px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				border-bottom: 1.5px dashed $yellow;
			}
		}
	}
	
	.form-control {
		margin-bottom: 33px;
	}

</style>
