.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: #302f2f;
	padding: 17px 30px;
	position: relative;

	background-color: white;
	background-image: url('/img/welcome/banner-fragment.png');
	background-repeat: no-repeat;
	background-size: 50% auto; 

	div {
		flex-basis: 46%;
	}


	.description {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		p {
			padding: 0 0 0 40px;
		}
	}

	.titles {
		display: flex;
		flex-direction: column;
		justify-content: center;
	
		.title {
			font-size: 40px;
			margin: 0 0 15px;
		}
	
		.subtitle {
			margin: 0;
		}
	}

	&:before {
		content: '';
		position: absolute;
		z-index: -100;
		width: 1200px;
		height: 1200px;
		max-width: 100vw;
		max-height: 100vw; 
		transform: translateY(-8.5%);

		background-image: radial-gradient(#862428, rgba(1,1,1,0), rgba(1,1,1,0));
		background-size: cover;
	}

	/*
	&:before {
		content: url("/img/welcome/lightning-overview.png");
		position: absolute;
		z-index: -1000;
		left: 50%;
		transform: translate(-50%, -10%);
	}*/
}