.overview {
	padding-bottom: 100px;
	position: relative;

	.content {
		display: flex;
		padding: 80px 0;

		.description {
			width: 45%; 

			.title {
				font-size: $title-font-size;
				margin-top: 0;
				font-weight: 500;
			}
			p {
				margin: 35px 0;
				color: #cbcbcb;
				line-height: 1.4;
				padding-left: 15px;
				position: relative;
				font-weight: 300;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 1px;
					background-color: $yellow;
				}
			}
		}

		.video {
			width: 55%;
			padding: 20px;
			text-align: center;
			position: relative;

			.laptop {
				width: 98%;
				@extend %no-select;
			}

			iframe {
				height: 286px;
				width: 448px;
				position: absolute;
				top: 40px;
				left: calc(50% + 1px);
				transform: translateX(-50%);
			}
		}
	}

	@import "./banner.scss";
}