<template>
	<keep-alive>
    <div class="rooms">
		<div class="users-online">
			<button class="btn btn-warning-outline">Пользователей онлайн - 1</button>
		</div>
		<div class="container">
			<div class="content text-warning">
				<h1 class="title">Выберите комнату</h1>
				<a 
					href="#" 
					class="link-warning subtitle" 
					@click.prevent="createRoomShow()"
				>
					Создать комнату
				</a>
				
				<div class="rooms-container">
					<RoomCard
						v-for="room in rooms" 
						:key="room.id * Math.random()" 
						:data="room"
						color="green"
						@click="roomInfoShow(room)"
					></RoomCard>

					<RoomCard
						v-for="room in rooms" 
						:key="room.id  * Math.random()" 
						:data="room"
						color="red"
						@click="roomInfoShow(room)"
					></RoomCard>

					<RoomCard 
						v-for="room in rooms" 
						:key="room.id  * Math.random()" 
						:data="room"
						color="yellow"
						@click="roomInfoShow(room)"
					></RoomCard>
				</div>
			</div>
		</div>
		<CreateRoom ref="CreateRoom"/>
		<RoomInfo :room="showingRoom" ref="RoomInfo"/>
    </div>
	</keep-alive>
</template>

<script>
	import RoomCard from "./components/RoomCard.vue";
	import RoomInfo from "./components/RoomInfo.vue";
	import CreateRoom from "./components/CreateRoom.vue";

    export default {
		components: {
			RoomCard,
			RoomInfo,
			CreateRoom
		},
		data() {
			return {
				rooms: [],
				showingRoom: []
			}
		},
        mounted() {
			for(let i = 0; i < 5; i++) {
				this.rooms.push({
					id: 123,
					rate: 100,
					status: "open",
					members_count: 1
				})
			}
			this.room = this.rooms[0]
            //console.log('Component mounted.')
		},
		methods: {
			createRoomShow() {
				this.$refs.CreateRoom.show()
			},
			roomInfoShow(room) {
				this.showingRoom = room
				console.log('fff')
				this.$refs.RoomInfo.show()
			}
		}
    }
</script>

<style lang="scss" scoped>
	@import "@vars";
	$content-padding-top: 30px;

	.rooms {
		position: relative;
	}

	.content {
		text-align: center;
		padding-top: 10px;
		padding-top: 30px;

		.title {
			font-size: 38px;
			margin: 0 0 20px 0;
		}

		.subtitle {
			font-size: 17px;
		}
	}

	.users-online {
		top: $content-padding-top;
		position: absolute;
		z-index: 100;
		right: 30px;
		pointer-events: none;
	}

	

	.rooms-container {
		padding-top: $content-padding-top;
		display: flex;
		justify-content: flex-start;
		width: 100%;
		flex-wrap: wrap;

		.room {
			width: 210px;
			margin-right: 15px;
			margin-bottom: 20px;
		}
	}
	
</style>