<template>
	<div class="dropdown" ref="dropdown">
		<div ref="parent" @click.prevent="toggle">
			<slot name="parent" class="parent"></slot>
		</div>
		<div class="popover" ref="popover" v-show="show">
			<slot name="body" class="popover-inner"></slot>
		</div>
	</div>
</template>
<script>
    export default {
		data() {
			return {
				show: false
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.$refs.popover.style.top = this.$refs.parent.offsetHeight + 6 + 'px'
			})
		},
		methods: {
			toggle(e) {
				this.show = !this.show
				if(this.show) {
					document.addEventListener('pointerup', this.hide)
				} else {
					document.removeEventListener('pointerup', this.hide)
				}
			},
			hide(e) { 
				if(!this.$refs.parent.contains(e.target)) this.show = false
			}
		}
    }
</script>
<style lang="scss">
	@import "@vars";

	.dropdown {
		display: inline-block;
		position: relative;
	}

	.popover {
		box-shadow: 0 0 2px 0px rgba(143, 143, 143, 0.274);
		background-color: darken($grey, 1%);
		position: absolute;
		top: 10px;
		left: -15px;
		display: flex;
		flex-direction: column;

		&>* {
			padding: 15px 30px 15px 17px;
			text-decoration: none;
			color: white;
			font-size: 14px;
			text-transform: none;
			font-weight: 500;

			&:hover {
				background-color: lighten($grey, 1%);
			}
		}
	}
</style>
