<template>
	<radar-spinner
		  class="spinner"
          :animation-duration="1000"
          :size="$props.size"
		  :color="$props.color"
     />
</template>
<script>
	import { RadarSpinner  } from 'epic-spinners'
	export default {
		props: {
			size: Number,
			color: {
				type: String,
				default: 'yellow'
			}
		},
		components: {
			RadarSpinner
		}
	}
</script>
<style lang="scss" scoped>
	.spinner {
		vertical-align: middle;
		display: inline-block;
	}
</style>
