<template>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<slot name="thead"/>
			</thead>
			<tbody>
				<slot name="tbody"/>
			</tbody>
		</table>
	</div>
</template>

<script>
    export default {
		props: {

		},
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss" scoped>
	@import '@vars';
	.table-responsive {
		width: 100%;
	}

	table {
		width: 100%;
	}
	
	td,th {
		border: 0;
		font-size: 16px;
		padding: 8px 0 8px 9px;
	}
	
	thead {
		tr:last-child th, tr:last-child td {
			border-bottom: 1px solid $grey-light;
		}

		th, td {
			text-align: left;
			color: $grey-text;
		}
	}
	tbody {
		color: white;
	}
</style>
