.bars {
	padding: 120px 0 200px; 
	background-image: url('/img/welcome/bars-bg.png');
	background-size: cover;
	background-position: center bottom;

	.content {
		text-align: center;

		.title {
			font-size: $title-font-size * 1.75;
			text-transform: uppercase;
			margin-bottom: 43px;
		}
	
		.divider {
			height: 1.5px;
			width: 40%;
			display: block;
			margin: auto;
			background-color: $yellow;
			margin-bottom: 38px;
		}
		p {
			margin: auto;
			max-width: 58%;
			line-height: 1.4;
			color: darken(white, 12%);
		}

		.btn-register {
			margin-top: 75px;
		}
	}
}