.from-traders {
	padding: 150px 0;
	background-image: url('/img/welcome/trees.png');
	background-size: cover;
	

	.content {
		max-width: 500px;
		position: relative;
		z-index: 5;

		.title {
			font-size: $title-font-size;
			line-height: 1.2;
		}

		.slogan {
			color: $yellow;
			font-size: 18px;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 35px;
		}

		p {
			line-height: 1.4;
			color: darken(white, 10%);
			margin-bottom: 50px;
		}

		.btn-register {
			margin-bottom: 50px; 
		}
	}
	.list {
		margin-top: 80px;
		z-index: 10;
		position: relative;

		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;;

			.item {
				padding-right: 70px;
				display: flex;

				.icon {
					margin-right: 20px;
				}


			}
		}
	}

	.container {
		position: relative;
	}
	
	.moneycase {
		@extend %no-select;

		width: 43%;

		position: absolute;
		right: 0;
		bottom: -40px;
		z-index: 0;
	}
}