<template>
    <div class="finances" ref="finances">
		<div class="content" ref="content">
			<nav class="nav">
				<router-link 
					:to='{name: "cabinet.user.deposit"}' 
					class="btn nav-item"
				>
					Пополнение
				</router-link>

				<router-link 
					:to='{name: "cabinet.user.withdrawal"}' 
					class="btn nav-item"
				>
					Вывод средств
				</router-link>
			</nav>
			
			<transition :name="$router.currentRoute.meta.transition" mode="">
				<keep-alive>
					<router-view></router-view>
				</keep-alive>
			</transition>
		</div>
    </div>
</template>

<script>
    export default {
        mounted() {
			console.log('Component mounted.')
			console.log('Финансы')
		},
		methods: {
			
		},
		computed: {
			getTransitionName() {
				const arr = {
					"cabinet.user.deposit": "fade",
					"cabinet.user.withdrawal": "slide-to-left"
				}
				return arr[this.$router.currentRoute.name];
				//return  'fade' : 'slide-to-left';
			}
		}
    }

</script>

<style lang="scss" scoped>
    @import "@vars";
	.finances {
		background-color: $grey;
	}
	.content {
		overflow: hidden;
		position: relative;
		padding: 40px 50px 10px;
		height: 450px;
		box-sizing: padding-box;

		.nav {
			display: flex;
			
			&>* {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.nav-item {
				border: 1.5px solid $yellow;
				border-right-width: 0;
				background-color: $brown-dark;
				color: $yellow;
				border-radius: 0;
				text-transform: none;

				&:first-child {
					border-radius: 3px 0 0 3px;
				}
				&:last-child {
					border-radius: 0 3px 3px 0;
					border-right-width: 2px;
				}

				&.router-link-active {
					background-color: $yellow;
					color: lighten(black, 10%);
				}
			}
		}
	}
	
</style>
