.advantages {
	padding-bottom: 40px;

	.title {
		font-size: $title-font-size;
		text-align: center;
		margin-bottom: 30px;
	}

	.list {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			color: $yellow;

			li.item {
				width: 23%;
				margin-top: 50px;

				.title {
					font-size: 20px;
					padding-bottom: 20px;
				}
				p {
					margin-top: 25px;					
					font-size: 16px;
					line-height: 1.4;
					color: $primary-text-color;
				}
			}
		}
	}

	.btn-register {
		margin-top: 60px;
		text-align: center; 
		.btn {
			box-shadow: 0 0 5px 0px $yellow;
		}
	}
}