<template>
	<button class="btn btn-warning" :disabled="loading">
		<span style="position: relative;">
			<transition name="fade">
				<Spinner 
					v-show="loading"
					:size="16"
					:color="'#000000'"
					style="vertical-align: top;position:absolute;left: -20px"
				/>
			</transition>
			<slot #default></slot>
		</span>
	</button>
</template>
<script>
	export default {
		props: {
			loading: {
				type: Boolean, 
				default: false
			}
		}
	}
</script>
