<template>
    <div class="history">
		<div class="content">
			<h3 class="title">История комнат</h3>
			<p>
				<label for="range-from" class="label">Выберите период</label>	
			</p>
			<div class="form-group-inline">
				<TextFormControl 
					id="range-from"
					name="Дата от"
					placeholder="25-03-2020" 
				/>
				<TextFormControl 
					id="range-to"
					name="Дата до"
					placeholder="01-04-2020" 
				/>
				<button class="btn btn-warning">Загрузить</button>
				<a href="#" class="btn-reset">Сбросить</a>
			</div>
			<TableResponsive>
					<template #thead>
						<tr>
							<th>Дата</th>
							<th>Чел.</th>
							<th>Сумма за 1 место</th>
							<th>Результат</th>
						</tr>
					</template>
					<template #tbody>
						<tr>
							<td>2020-12-12</td>
							<td>2 человека</td>
							<td>2000Р</td>
							<td>
								<span class="warning">Выигрыш</span>
							</td>
						</tr>
						<tr>
							<td>2020-12-12</td>
							<td>2 человека</td>
							<td>2000Р</td>
							<td>
								<span class="warning">Выигрыш</span>
							</td>
						</tr>
					</template>
					
			</TableResponsive>
		</div>
    </div>
</template>

<script>
	import TableResponsive from "../../../../components/TableResponsive.vue";

    export default {
		components: {
			TableResponsive
		},
        mounted() {
            console.log('Component mounted.')
        }
    }

</script>

<style lang="scss" scoped>
    @import "@vars";
	.history {
		background-color: $grey;
		
		.content {
			padding: 40px 50px;
		}

		.title {
			margin: 0 0 30px;
			font-size: 20px;
		}

		p {
			margin-bottom: 25px;
		}

		label {
			color: white;
		}

		.btn-reset {
			color: $grey-light;
			cursor: pointer;
			font-size: 20px;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;

			&:after {
				content: '';
				width: 100%;
				height: 0px;
				position: absolute;
				left: 0;
				bottom: 0;
				border-bottom: 2px dashed $grey-light;
			}
		}

		.form-group-inline {
			
			align-items: center;

		}
	}

</style>
