<template>
		<validator 
			:rules="rules" 
			v-slot="{ errors }" 
			:vid="$props.vid"
		>
			<div class="control-container">
				<div class="label-container">
					<label 
						ref="label" 
						:for="inputId"
						v-if="$props.name.length"
					>
						{{ $props.name }}
					</label>
				</div>
				<input 
					v-model="val"
					ref="input"
					:id="inputId"
					:type="type" 
					:min="$props.min"
					:max="$props.max"
					:placeholder="$props.placeholder" 
					@input="onInput($event)"
					class="form-control" 
					autocomplete="off"
					:name="inputId"
				>
			</div>
			<Error :errors="errors"></Error>
		</validator>
</template>

<script>
	import Error from './messages/Error.vue'

    export default {
		components: {
			Error
		},
		props: {
			name: {
				type: String,
				default: ''
			},
			placeholder: String,
			value: {
				default: '',
				type: String
			},
			type: {
				default: 'text'
			},
			min: {
				type: Number,
				required: false
			},
			max: {
				type: Number,
				required: false
			},
			id: {
				default: ''
			},
			props: {
				default: '',
				required: false
			},
			rules: {
				default: '',
				type: String,
				required: false
			},
			vid: {
				required: false
			}
		},
		data() {
			return {
				inputId: '',
				val: ''
			}
		},
        created() {
			this.inputId = this.$props.id.length > 0 ? this.$props.id : ('input' + Math.floor(Math.random() * 99999999))
		},
		mounted() {
			this.val = this.$props.value
		},
		methods: {
			focus() {
				this.$refs.input.focus()
			},
			onInput(event) {
				this.$emit('input', this.val)
			}
		}
    }
</script>

<style lang="scss" scoped>
	@import '@vars';

	$border-width: 1.5px;

	.control-container {
		background-color: $grey-lighter;
		border: $border-width solid $grey-light;
		border-radius: 3px;
		padding: 0px 12px;
		position: relative;
		cursor: text;

		.label-container {
			position: absolute;
			top: 0;
			height: 0px;
			
			label {
				color: $grey-text;
				position: relative;
				z-index: 2;
				transform: translate(0, -80%);
				display: inline-block;
				padding: 0 8px;
				letter-spacing: 1.5px;
				font-size: 14px;
			}

			&:after {
				content: '';
				position: absolute;	
				background-color: $grey-lighter;
				top: -$border-width;
				left: 0;
				z-index: 0;
				width: 100%;
				height: $border-width + 0.5px;
			}
		}

		.form-control {
			background-color: rgba(1,1,1,0);
			border: 0;
			outline: none;
			display: block;
			color: darken(white, 10%);
			width: calc(100% - 7px);
			height: 42px;
			padding-left: 5px;
		}
	}


</style>
